html {margin:0; padding:0;}
body {margin:0; padding:0; font-family:"Microsoft YaHei"; font-size:14px; color:#333;}
.center{margin: 0 auto; text-align: center;}
.container{ width: 100%; min-width: 320px; max-width: 640px;overflow: hidden;margin:100px auto;}
.btn{ position: absolute;top:40%; left: 50%; width: 200px; height: 60px; line-height: 60px ;margin-left: -100px ;background:#f60; z-index: 99; font-size: 28px; color:#fff; text-align: center; border-radius: 5px; cursor: pointer;}
.btnStart:hover{background:#f74b08;}
.road-box{width: 100%; overflow: hidden; position: relative;}
.road{width:25%; height:500px;float: left; color:#fff; position: relative; cursor: pointer;}
.road1{background:#eaeaea;}
.road2{background:#d8d8d8;}
.road3{background:#eaeaea;}
.road4{background:#d8d8d8;}
.block{position: absolute; top:-20%; left: 50%; margin-left: -20px ;width: 40px; height: 40px; background:url(img/block.gif) center no-repeat; background-size: 100%;}
.middle-line{ position:absolute; top: 0; left: 50% ;width:4px; height:500px; margin-left: -2px ;background:yellow; z-index: 98; }
.side-line{position:absolute; top: 0;width:3px; height: 500px; z-index: 98;}
.line-L{left: 0;border-left:3px dashed yellow;}
.line-R{right: 0;border-right:3px dashed yellow;}
@-webkit-keyframes line-move{0%{ top:0;}100%{ top:10px;}}
#car1,#car2{position: absolute; bottom: 0; margin-left: -20px;width: 40px; height: 40px; background-size: 100%;}
#car1{background: url(img/car1.gif) center no-repeat;}
#car2{background: url(img/car2.gif) center no-repeat;}
.pos0{left:12.5%;}
.pos1{left:37.5%;}
.pos2{left:62.5%;}
.pos3{left:87.5%;}
#score{ position: absolute; top:0; left:0; width: 100%; height: 60px; font-size:46px; text-align: center; z-index: 98; color: red;}

a{
	color: #366280;
	text-decoration: none;
	-webkit-transition: opacity .2s,color .2s,background-color .2s,background-image .2s;
	-moz-transition: opacity .2s,color .2s,background-color .2s,background-image .2s;
	-ms-transition: opacity .2s,color .2s,background-color .2s,background-image .2s;
	-o-transition: opacity .2s,color .2s,background-color .2s,background-image .2s;
	transition: opacity .2s,color .2s,background-color .2s,background-image .2s;
	display: inline-block;
	padding: 2px;
	margin: -2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 0;
}
.forkme {
	position:fixed;
	right:-60px;
	top:50px;
	z-index:10;
	line-height:30px;
	color:#f6f7f8;
	text-align:center;
	width:250px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	/* transform:rotate(-45deg);*/
	/* -webkit-transition:none;*/
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	/* transition:none;*/
	font-weight:bold;
	text-shadow:-1px 1px 1px rgba(0,0,0,0.7);
	-webkit-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-moz-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-ms-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-o-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	border-collapse:separate;
	border:1px solid #000;
	background-color:#363644;
	background-image:-webkit-gradient(radial,center center,0,center center,460,from(#4c5b63),to(#363644));
	background-image:-webkit-radial-gradient(circle,#4c5b63,#363644);
	background-image:-moz-radial-gradient(circle,#4c5b63,#363644);
	background-image:-ms-radial-gradient(circle,#4c5b63,#363644);
	background-image:-o-radial-gradient(circle,#4c5b63,#363644);
	background-repeat:no-repeat
}
.forkme:hover {
	background-color:#4d4d60;
	background-image:-webkit-gradient(radial,center center,0,center center,460,from(#627680),to(#4d4d60));
	background-image:-webkit-radial-gradient(circle,#627680,#4d4d60);
	background-image:-moz-radial-gradient(circle,#627680,#4d4d60);
	background-image:-ms-radial-gradient(circle,#627680,#4d4d60);
	background-image:-o-radial-gradient(circle,#627680,#4d4d60);
	background-repeat:no-repeat;
	-webkit-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-moz-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-ms-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	-o-box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	box-shadow:0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
	border-collapse:separate
}